@{
	ViewData["Title"] = "Феи";
}

<div class="content">
	@foreach (var fairy in ViewBag.Fairies)
	{
		<div>
			<div class="fairies-logo">
				<img src="@fairy.ImageSrc" />
			</div>
			<center><a class="fairies-text" href="/Home/Fairy/@fairy.Name">@fairy.Name</a></center>
			<div class="fairies-description">@fairy.ShortDescription</div>
		</div>
	}
</div>
<div class="strength-wrapper">
	<a id="strength"></a>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>Фея</th>
					<th>Происхождение</th>
					<th>Силы</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var fairy in ViewBag.Fairies)
				{
					<tr>
						<td>@fairy.Name</td>
						<td>@fairy.Origin</td>
						<td>@fairy.MagicPower</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>